[program:hassio_linux_controller]
command=poetry run hassio_lc
directory=<<your path to the directory cloned, propaly something lile /home/pi/hassio-linux-controller >>
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/hassio_linux_controller.log
redirect_stderr=true
environment=
    HASSIO_LINUX_CONTROLLER_HASSIO_URL="<< your hassio url >>"
    HASSIO_LINUX_CONTROLLER_HASSIO_BEARER_TOKEN="<< your token >>"
    HASSIO_LINUX_CONTROLLER_MQTT_URL="<<your mqtt url>>
    HASSIO_LINUX_CONTROLLER_MQTT_USERNAME="<<your mqtt users name>>
    HASSIO_LINUX_CONTROLLER_MQTT_PASSWORD="<<your mqtt users password>>

